<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/myAccount.css">
    <title>My Account - Book of Mark</title>
</head>

<body>
    <div class="content">
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/account">Account</a></li>
                    <li><a href="/categories">Categories</a></li>
                </ul>
            </nav>
        </header>
        <div style="display:block;">
            <form action="http://localhost:3000/account/update" method="POST">
                <fieldset>
                    <legend>Update Account Info</legend>
                    <label for="bio">Update Biography: </label>
                    <input type="text" name="bio" id="bio">
                    <label for = "currBio">Current Biography: </label>
                    <p>{{bio}}</p>
                    <label for="password">Update Password: </label>
                    <input type="password" name="password" id="password">
                    <input type="text" name="id" id="id" value="{{id}}" style="display:none" readonly>
                    <input type="submit" id="submit"> </fieldset>
            </form>
        </div>
        <div>
            <h2>My Experiences</h2>
            <ul>
            {{#each experiences}}
                <li></li>
            {{/each}}
            </ul>
        </div>
        <a href="/experience"><button>Add Experience</button></a>
    </div>
    <footer>
        <p>Book of Mark Copyright 2017</p>
    </footer>
</body>

</html>