<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/add_exp.css">
    <title>Add an Experience</title>
</head>
<body>
    <div>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/account">Account</a></li>
                    <li><a href="/categories">Categories</a></li>
                </ul>
            </nav>
        </header>
        <form action="http://localhost:3000/experience/add" method="POST">
            <fieldset>
                <legend>Add an Experience</legend>
                <input type="text" name="id" id="id" value="{{id}}" style="display:none" readonly>
                <label for="title">Experience Name</label>
                <input type="text" name="title" required>
                <label for="categories">Select a Category</label>
                <select  name = "categories">{{#each categories}}
                    <option value = "category">category</option>
                    {{/each}}
                </select>
                <p>Don't see the category you want? <a href="/categories/add"> Add Category</a> Add the one you want.</p>
                <label for="review_title">Please Give your Review a Title</label>
                <input type="text" name="review_title" required>
                <label for="review_text">Describe Your Experience Here</label>
                <input type="text" name="review_text" required>
                <label for="rating">How Would you Rate your Experience?</label>
                <select name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <label for="review_date"> Date of Experience</label>
                <input type="date" name="review_date" required>
                <input type="submit" id="submit">
            </fieldset>
        </form>
    </div>
    <footer>
        <p>Book of Mark Copyright 2017</p>
    </footer>
</body>
</html>