<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <title>Add an Experience</title>
</head>
<body>
    <div>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/account">Account</a></li>
                    <li><a href="/categories">Categories</a></li>
                </ul>
            </nav>
        </header>
        <form action="http://localhost:3000/experience/add" method="POST">
            <h2>Add an Experience</h2>
            <input type="text" name="id" id="id" value="{{id}}" style="display:none" readonly>
            <input type="text" name="Title" required>
            <select  name = "Categories">{{#each category}}
                <option value = "category">category</option>
            </select>{{/each}}
            <input type="text" name="Review Title" required>
            <input type="text" name="Review Text" required>
            <input type="text" name="Review Rating" required>
            <input type="text" name="Review Date" required>
            <input type="submit" id="submit">
        </form>
    </div>
    <footer>
        <p>Book of Mark Copyright 2017</p>
    </footer>
</body>
</html>