<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Add an Experience</title>
</head>
<body>
    <div>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/account">Account</a></li>
                    <li><a href="/categories">Categories</a></li>
                </ul>
            </nav>
        </header>
        <form action="http://localhost:3000/experience/add" method="POST">
            <fieldset>
                <legend>Add an Experience</legend>
                <input type="text" name="id" id="id" value="{{id}}" style="display:none" readonly>
                <label for="title">Experience Title</label>
                <input type="text" name="title" required>
                <label for="categories">Select a Category</label>
                <select  name = "categories">{{#each category}}
                    <option value = "category">category</option>
                </select>{{/each}}
                <label for="review title"> Review Title</label>
                <input type="text" name="review title" required>
                <label for="review text">Type Here</label>
                <input type="text" name="review text" required>
                <label for="rating">Rating</label>
                <select name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <label for="review date"> Date of Experience</label>
                <input type="date" name="review date" required>
                <label for="submit">Submit</label>
                <input type="submit" id="submit">
            </fieldset>
        </form>
    </div>
    <footer>
        <p>Book of Mark Copyright 2017</p>
    </footer>
</body>
</html>