html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

header {
    background-color: salmon;
}

footer {
    background-color: beige;
    text-align: center;
}

nav ul {
    margin: 0em;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 1em;
}

#expList {
    font-weight: bold;
    text-align: center;
}