html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

header {
    background-color: MediumSeaGreen;
}

h1 {
    text-align: center;
}

footer {
    background-color: beige;
    text-align: center;
}

nav ul {
    margin: 0em;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 1em;
}

#desc {
    text-align: center;
    font-weight: normal;
    font-size: 120%;
}

#upButton {
    width: 2em;
    height: 2em;
}

#upImage {
    width: 1em;
    height: 1em;
}

#downButton {
    width: 2em;
    height: 2em;
    display: flex;
    margin-bottom: 2em;
}

#downImage {
    width: 1em;
    height: 1em;
    transform: rotate(180deg);
}