<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/add_exp.css">
    <title>Add a Category</title>
</head>
<body>
    <div>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/account">Account</a></li>
                    <li><a href="/categories">Categories</a></li>
                </ul>
            </nav>
        </header>
        <form action="http://localhost:3000/categories/" method="POST">
            <fieldset>
                <legend>Add a Category</legend>
                <label for="title">Category Name</label>
                <input type="text" name="title" required>
                <label for="parent">Select a Parent Category</label>
                <select  name = "parent">
                    <option value ="">None</option>{{#each categories}}
                    <option value = "{{name}}">{{name}}</option>
                    {{/each}}
                </select>
                <label for="description">Description</label>
                <input type="text" name="description">
                <input type="submit" id="submit">
            </fieldset>
        </form>
    </div>
    <footer>
        <p>Book of Mark Copyright 2017</p>
    </footer>
</body>
</html>