<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/categories_home.css">
    <title>Account - Book of Mark</title>
</head>

<body>
    <div class="content">
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/account">Account</a></li>
                    <li><a href="/categories">Categories</a></li>
                    <li id="logout"><a href="/account/logout">Log Out</a></li>
                </ul>
            </nav>
        </header>
        <ul>
            <p id = "cat">Categories:</p>{{#each categories}}
            <li class="catList">
                <p><a href="/categoryList/{{_id}}">{{name}}</a> {{likes}}</p>
            </li> {{/each}} </ul>
    </div>
    <div>
    <p>Don't see the category you want? Add the one you want <a href="/categories/add">here</a>.</p>
    </div>
    <footer>
        <p>Book of Mark Copyright 2017</p>
    </footer>
</body>

</html>